@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@300&display=swap");
* {
  font-family: "Orbitron", sans-serif;
}
body {
  background-color: black;
  color: whitesmoke;
}
.blackAndWhite {
  background-color: black;
  color: whitesmoke;
}
.border {
  border: 10px solid white;
  border-radius: 8px;
}
.headerColour {
  background-color: #0a2d40;
  color: whitesmoke;
}
.accordion-button:not(.collapsed) {
  background-color: #0a2d40;
  color: #9c9c09;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f5f5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed):after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239c9c09'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
#schoolAccordion,#personalAccordion{
    margin-left: 5%;
    margin-right: 5%;
}
